<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>United We Shop! |Shopping apps</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- import vue -->
    <link rel="stylesheet" href="style.css" />
    <!-- import CSS stylesheet -->
    <script src="https://kit.fontawesome.com/4a404ff615.js" crossorigin="anonymous"></script>
    <!-- import fontawesome icons -->
</head>

<body>
    <div id="app">
        <navigation></navigation>
        <div id="container">
            <!-- use v-for to dynamically render the three content columns -->
            <column v-for="column in columns" :key="column.id" v-bind:id="column.id" v-bind:title="column.title" v-bind:sections="column.sections"></column>
        </div>

    </div>

    </div>
    <script>
        var columnsection = { //local component representing an item in the content columns
            props: {
                heading: String, //section heading
                img: String, //image path
                alt: String //image alt text
            },
            template: ' \
            <div class="column_section"> \
                <p>{{heading}}</p> \
                <img :src="img" :alt="alt"> \
            </div> '
        }
        var column = { //local component representing the content columns
            props: {
                id: String, //id for CSS styling
                title: String, //column title
                sections: Array //array of section objects to be dynamically rendered
            },
            template: ' \
            <div :id="id"> \
                <div class="title">{{title}}</div> \
                <div class="column_content" style="background: #9932CC"> \
                    <!-- use v-for to dynamically render the sections of each column -->\
                    <columnsection v-for="section in sections" :key="section.heading" v-bind:heading="section.heading" v-bind:img="section.img" v-bind:alt="section.alt" />\
                </div> \
            </div>',
            components: {
                columnsection //the columnsection component is a child of the column component
            }
        }
        Vue.component('navigation', { //global component representing the navigation bar at the top of the page
            template: ' \
            <nav> \
                <div id="nav-left"> \
                    <!-- links on the left side of the site icon -->\
                    <a class="sign_out" href="login.html"><i class="fa fa-sign-out"></i>Sign out</a> \
                    <a class="home" href="homepage.html"><i class="fas fa-home"></i> Home</a> \
                    <a class="trends" href="trend.html"><i class="fa fa-line-chart"></i> Latest Trends</a> \
                </div> \
                <div id="nav-center"> \
                    <!-- site icon in the center -->\
                    <p id="icon" style="font-size: 25px">United We Shop!</p> \
                </div> \
                <div id="nav-right"> \
                    <!-- link on the right side of the site icon -->\
                    <a href="search.html"><i class="fa fa-search"></i> Search your Favourite Brands</a> \
                </div> \
            </nav> '
        })
        var app = new Vue({ //root Vue instance
            el: "#app",
            data: {
                columns: [{ //array of objects containing the content columns' data
                    id: "top_brands",
                    title: "Brands On Top",
                    sections: [{ //array of objects containing the columns sections' data
                        heading: 'Amazon',
                        img: 'images/img_amazon.jpg',
                        alt: 'Amazon'
                    }, {
                        heading: 'Flipkart',
                        img: 'images/img_flipkart.jpg',
                        alt: 'Flipkart'
                    }, {
                        heading: 'Gucci',
                        img: 'images/img_gucci.jpg',
                        alt: 'Gucci'
                    }]
                }, {
                    id: "celebrity_looks",
                    title: "Favourite Celebrity Looks",
                    sections: [{ //array of objects containing the columns sections' data
                        heading: 'Harry Styles',
                        img: 'images/img_harry.jpg',
                        alt: 'Harry'
                    }, {
                        heading: 'Kylie Jenner',
                        img: 'images/img_kylie.jpg',
                        alt: 'Kylie'
                    }, {
                        heading: 'Ian Somerhalder',
                        img: 'images/img_ian.jpg',
                        alt: 'Ian'
                    }]
                }, {
                    id: "attires",
                    title: "Types Of Attires",
                    sections: [{ //array of objects containing the columns sections' data
                        heading: 'Gym Wear',
                        img: 'images/img_gym.jpg',
                        alt: 'Gym'
                    }, {
                        heading: 'Wedding Wear',
                        img: 'images/img_wedding.jpg',
                        alt: 'Wedding'
                    }, {
                        heading: 'Casual Wear',
                        img: 'images/img_casual.jpg',
                        alt: 'Casual'
                    }]
                }]
            },
            components: {
                column //the column component is a child of the root component
            }
        })
    </script>
</body>

</html>